{% extends 'base.html.twig' %}

{% block title %}Hello Sae23Controller!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <button type="button"  onclick="window.location.href='/sae23/pageadmin';" class="btn btn-primary">Page Admin</button>

    <h1>Les articles</h1>

    <form action="/sae23/suparticle" method="post">

    <button type="button"  onclick="window.location.href='/sae23/ajoutarticle';" class="btn btn-success">Ajouter</button>
    <button type="submit" class="btn btn-danger">Supprimer</button>

    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Choix</th>
      <th scope="col">Nom</th>
      <th scope="col">Image</th>
      <th scope="col">Prix</th>
    </tr>
  </thead>
  <tbody>
  	{% for arrayy in array %}
    <tr class="table-primary">
      <td><input class="form-check-input" type="checkbox" value="{{arrayy['id']}}" name="articlecheck" id="articlecheck">
</td>
      <td>{{arrayy['nom']}}</td>
      <td>{{arrayy['image']}}</td>
      <td>{{arrayy['prix']}}€</td>
    {% endfor %}
  </tbody>
</table>

</form>

</div>
{% endblock %}
