{% extends 'base.html.twig' %}

{% block title %}Hello Sae23Controller!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenu admin</h1>

    <ul>
        <li><a href="/sae23/gestionarticles">Gestion des articles</a></li>
		<li><a href="/sae23/commandes">Liste des commandes</a></li>
		<li><a href="/sae23/prestations">Les prestations</a></li>
    </ul>
</div>
{% endblock %}
